{% extends "base.html" %}
{% block page_width %} 40em {% endblock %}
{% block title %} index {% endblock %}
{% block card_name %} {{card_name}} {% endblock %}
{% block card_data %}
    <table>
        <thead>
            <tr>
                {% for head in headers: %}
                <th>{{ head }}</th>
                {% endfor %}
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th colspan="4">ACI footer</th>
            </tr>
          </tfoot>
        <tbody>
            {% for tenant in tenants: %}
            <tr>
              <th scope="row">{{ loop.index }}</th>
              {% for attr in tenant: %}
              <td>{{ attr }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}